services:
  db:
    image: mysql:latest
    container_name: db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: test
    volumes:
      - db-save:/var/lib/mysql
    networks:
      - rs_1

  app:
    build: .
    restart: unless-stopped 
    ports:
      - '3000:3000'
    depends_on:
      - db
    networks:
      - rs_1

volumes:
  db-save:

networks:
  rs_1: